@use "../abstract/" as *;
@use "../base/" as *;

.chefs {
    &__title {
        h2{
            text-align: center;
            padding-bottom: 1rem;
        }
    }
    &__wrapper{
        @include grid(4, 5rem);

        @include mediaQuery(520px){
            @include grid(1, 2rem)
        }
    }

    &__card {
        text-align: center;
        h2{
            font-size: 1.5rem;
        }

        p {
            color: $clr-secondary;
            font-weight: 600;
            font-size: 1.2rem;
        }
        img{
            border-radius: 2rem;
        }
    }
}